/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
a{
    list-style: none;
}

:root{

    /* ========================= Finalized color ========================= */
    --bg_color: #191c26;
    --primary_color: #332FD0;
    --secondary_color: #ffffff;
    --tertiary_color: #939393;
    --transition: 0.5s ease-out;
    --bg_gradient_portfolio: linear-gradient(to bottom,rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0.80));


    /* Demo Colors while selecting color for the portfolio design */
    /* --bg_color: #0c181f; */
    /* --bg_color: #171818; */
    /* --primary_color: #f52225; */
    /* --primary_color: #2623da; */
    /* --primary_color: #d62929; */
    /* --tertiary_color: #9e9e9e; */
    /* ============================================== */

}

/* Custom Scrollbar */
::-webkit-scrollbar{
    width: 8px;
    background: none;
}
::-webkit-scrollbar-track{
    background: var(--bg_color);
}

::-webkit-scrollbar-thumb{
    background: rgba(51, 47, 208, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(51, 47, 208, 0.2);
    border-radius: 10px;
}


.btn, .btn.active:focus, .btn:active:focus{
    outline: none;
    box-shadow: none !important;
    border-radius: 4px;
    font-size: 1.07rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
}
.form-control, .form-control.active:focus, .form-control:active:focus{
    outline: none;
    box-shadow: none !important;
    border-radius: 0;
}
.form-select, .form-select.active:focus, .form-select:active:focus{
    outline: none;
    box-shadow: none !important;
    border-radius: 0;
}

.nav_padding{
    padding: 10px 60px;
}
.main_padding{
    padding: 60px 100px;
}

.primary_color{
    color: var(--primary_color);
}
.secondary_color{
    color: var(--secondary_color) ;
}
.tertiary_color{
    color: var(--tertiary_color);
}

.primary_btn{
    background: var(--primary_color);
    border: 2px solid var(--primary_color);
    color: var(--secondary_color);
    min-width: 130px;
    height: 40px;
    transition: var(--transition);
}
.primary_btn:hover{
    background: transparent;
    border: 2px solid var(--primary_color);
    color: var(--primary_color);
}
.secondary_btn{
    background: transparent;
    border: 2px solid var(--primary_color);
    color: var(--primary_color);
    min-width: 120px;
    height: 40px;
    transition: var(--transition);
}
.secondary_btn:hover{
    background: var(--primary_color);
    border: 2px solid --primary_color;
    color: var(--secondary_color);
}
.tertiary_btn{
    background: transparent;
    border: 2px solid transparent;
    color: var(--primary_color);
    /* font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.03rem; */
    transition: var(--transition);
}
.tertiary_btn:hover{
    color: rgba(51, 47, 208, 0.8);
}


/*  */
.main_section{
    width: 100%;
    height: auto;
    background: var(--bg_color);
    overflow: hidden;
}

.hero_nav_section{
    width: 100%;
    height: 100vh;
    background: url("./img/bg8.png") no-repeat;
    background-position: center right;
    background-size: cover;
}
nav{
    width: 100%;
    height: 80px;
    background: transparent;
}
nav.fixed{
    position: fixed;
    width: 100%;
    height: 80px;
    background: var(--bg_color);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
nav .logo_section{
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--primary_color);
    letter-spacing: 0.05rem;
}
nav .logo_section span{
    font-size: 1.65rem;
    font-weight: 550;
    color: var(--tertiary_color);
    letter-spacing: 0.05rem;
}
nav .nav-link{
    font-size: 1.12rem;
    font-weight: 500;
    color: var(--tertiary_color);
    margin-left: 1.3rem;
    letter-spacing: 0.01rem;
    transition: var(--transition);
}
nav .nav-link:hover{
    color: var(--primary_color);
}
nav .active{
    font-size: 1.15rem;
    font-weight: 550;
    color: var(--primary_color);
    letter-spacing: 0.02rem;
}
nav .nav-link:focus, nav .nav-link:active:focus,
nav .nav-link.active:hover{
    color: var(--primary_color);
}


.hero_section{
    position: relative;
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: start;
    /* background: rgba(102, 51, 153, 0.02); */
}
.hero_section .greeting{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    color: var(--tertiary_color);
}
.hero_section .intro{
    font-size: 4.1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: var(--secondary_color);
}
.hero_section .professional{
    font-size: 3.0rem;
    color: var(--secondary_color);
    letter-spacing: 0.03rem;
    font-weight: 550;
    opacity: 0.7;
}
.hero_section .professional #element{
    font-size: 3.0rem;
    color: var(--primary_color);
}
.hero_section .desc{
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    color: var(--tertiary_color);
}
.hero_section .my_social_account{
    position: absolute;
    right: 2%;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.2rem;
}
.my_social_account .social_box{
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: rgba(102, 51, 153, 0.099);
    border: 2px solid var(--primary_color);
    font-size: 1.1rem;
    color: var(--tertiary_color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.my_social_account .social_box:hover{
    border: 2px solid rgba(102, 51, 153, 0.15);
    background: var(--primary_color);
    color: var(--secondary_color);
}


/* About Section */
.about_section{
    width: 100%;
    height: auto;
}

.abt_img_box{
    position: relative;
    width: 100%;
    height: auto;
}

.about_img{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    object-position: right;
    border-radius: 4px;
    box-shadow:  6px 6px 9px #0d0f14,
                 -6px -6px 9px #252938;
}
.abt_img_box .experience{
    position: absolute;
    bottom: -4.5%;
    left: 20%;
    padding: 10px 30px;
    background: var(--primary_color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary_color);
    border-radius: 4px;
    font-size: 1.5rem;
}
.abt_data{
    width: 100%;
    height: auto;
}
.intro{
    font-size: 0.99rem;
    font-weight: 550;
    color: var(--tertiary_color);
    letter-spacing: 0.01rem;
}
.tag{
    font-size: 2.7rem;
    font-weight: 600;
    color: var(--secondary_color);
    letter-spacing: 0.05rem;
}
.abt_data .desc{
    font-size: 1.1rem;
    color: var(--tertiary_color);
    font-weight: 500;
}
.why_me_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    flex-direction: column;
}
.why_me_section .reason{
    width: 100%;
    height: auto;
    column-gap: 0.5rem;
}
.reason i{
    width: 27px;
    height: 27px;
    background: var(--primary_color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary_color);
    border-radius: 0px;
    font-size: 0.89rem;
}
.reason p{
    font-size: 1.15rem;
    color: var(--tertiary_color);
    font-weight: 500;
    letter-spacing: 0.02rem;
}
.abt_data .hobbies{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.hobbies .hobby_box{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 5px 15px;
    border-radius: 4px;
    border-left: 5px solid var(--primary_color);
    background: rgba(51, 47, 208, 0.25);
}
.hobby_box i{
    font-size: 1.0rem;
    color: var(--secondary_color);
}
.hobby_box p{
    font-size: 0.99rem;
    color: var(--tertiary_color);
}

/* Skill, Education, & Experience Section */
.my_professional_info{
    width: 100%;
    height: auto;
}

.my_professional_info .nav-pills .nav-link{
    border-radius: 4px;
    color: var(--secondary_color);
    background: transparent;
    border: 2px solid transparent;
}
.my_professional_info .nav-pills .nav-link:hover{
    color: var(--tertiary_color);
}
.my_professional_info .nav-pills .nav-link.active, 
.my_professional_info .nav-pills .show>.nav-link {
    /* color: #fa6b05; */
    color: var(--secondary_color);
    border-bottom: none;
    background: transparent;
    border: 2px solid var(--primary_color);
}

.skill_education_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 2.5rem;
}
.profession_box{
    width: 400px;
    height: auto;
    background: rgb(17, 19, 25);
    border-radius: 4px;
    padding: 40px;
}

.profession_box .badge{
    background: rgba(51, 47, 208, 0.15);
    padding: 10px 15px;
    font-size: 0.99rem;
    color: var(--secondary_color);
    font-weight: 500;
    margin-bottom: 2.0rem;
}
.progress_data .progress_title{
    font-size: 1.0rem;
    font-weight: 500;
    color: var(--secondary_color);
    letter-spacing: 0.02rem;
}
.progress_data .progress_rate{
    font-size: 1.1rem;
    font-weight: 550;
    color: var(--tertiary_color);
    letter-spacing: 0.02rem;
}
.progress{
    height: 6px;
    background: var(--tertiary_color);
}
.progress .progress-bar{
    background: var(--primary_color);
    /* border-radius: 4px; */
}
.duration{
    font-size: 1.0rem;
    font-weight: 500;
    color: var(--tertiary_color);
}
.education .edu_title{
    font-size: 1.05rem;
    font-weight: 500;
    color: var(--tertiary_color);
    letter-spacing: 0.02rem;
}
.education .edu_title strong{
    font-size: 1.12rem;
    font-weight: 550;
    color: var(--secondary_color);
    letter-spacing: 0.02rem;
}
hr{
    background: var(--tertiary_color);
}

.experience_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}
.experience_box{
    width: 600px;
    height: auto;
    background: rgb(17, 19, 25);
    border-radius: 4px;
    padding: 0px;
    /* border-top: 4px solid var(--primary_color); */
    overflow: hidden;
}
.company_data{
    width: 100%;
    height: auto;
    padding: 10px 40px;
    background: var(--primary_color);
    opacity: 0.68;
}
.company_data .company_title{
    font-size: 1.17rem;
    font-weight: 550;
    color: var(--secondary_color);
    opacity: 1;
    letter-spacing: 0.02rem;
}
.company_data .company_tag{
    background: rgba(0, 0, 0, 0.4);
    padding: 3px 12px;
    border-radius: 4px;
    font-size: 0.87rem;
    color: var(--secondary_color);
    opacity: 0.9;
}
.company_data .company_location{
    font-size: 0.88rem;
    font-weight: 500;
    color: var(--secondary_color);
    opacity: 0.75;
    letter-spacing: 0.04rem;
    font-style: italic;
}
.experience_data{
    padding: 40px;
}
.experience_data .position{
    font-size: 1.3rem;
    font-weight: 550;
    color: var(--secondary_color);
    letter-spacing: 0.02rem;
}
.experience_data .job_type{
    font-size: 1.0rem;
    font-weight: 500;
    color: var(--tertiary_color);
    font-style: italic;
}
.experience_data .desc{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--tertiary_color);
}
.experience_data .technology_used{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.technology_used .technology{
    background: rgba(147, 147, 147, 0.1);
    padding: 3px 20px;
    color: var(--primary_color);
    font-size: 1.0rem;
    border-radius: 4px;
}


/* Banner Section */
.banner_section{
    width: 100%;
    height: auto;
    background: #0c1019;
    display: flex;
    align-items: center;
    gap: 2.0rem;
}
.banner_section .banner_box{
    width: 300px;
    height: auto;
    background: rgba(51, 47, 208, 0.02);
    text-align: center;
    border-radius: 4px;
}
.banner_box .count_section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0.3rem;
}
.count_section .count{
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--secondary_color);
}
.count_section .plus{
    font-size: 3.0rem;
    font-weight: 600;
    color: var(--secondary_color);
}
.banner_box .title{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--tertiary_color);
}



/* Service Section */
.service_section{
    width: 100%;
    height: auto;
}
.service_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.0rem;
}
.service_card{
    width: 307px;
    height: auto;
    background: rgba(51, 47, 208, 0.1);
    border-radius: 4px;
    padding: 40px 30px;
    border-bottom: 4px solid var(--primary_color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}
/* .service_card{
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
} */
.service_card:hover{
    background: rgba(51, 47, 208, 0.20);
    background-position: top;
}

.service_card .service_icon{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background: var(--secondary_color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--primary_color);
    /* box-shadow:  -2px 2px 10px #0c0d12,
             2px -2px 10px #262b3a; */
}
.service_card .service_title{
    font-size: 1.65rem;
    font-weight: 600;
    color: var(--secondary_color);
    letter-spacing: 0.02rem;
}
.service_card .desc{
    font-size: 1.0rem;
    font-weight: 500;
    color: var(--tertiary_color);
}
.service_card .tertiary_btn{
    color: var(--secondary_color);
    font-size: 1.0rem;
}


/* Portfolio Section */
.portfolio_section{
    width: 100%;
    height: auto;
}

.portfolio_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2.0rem;
    row-gap: 2.5rem;
}

.portfolio_card{
    position: relative;
    width: 420px;
    height: 60vh;
    border-radius: 4px;
    box-shadow:  4px 4px 9px #0d0f14,
                -4px -4px 9px #181b25;
    overflow: hidden;
    transition: all var(--transition);
}
.portfolio_card .portfolio_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    transition: all var(--transition);
}

.portfolio_data{
    position: absolute;
    bottom: 0;
    background: var(--bg_gradient_portfolio);
    width: 100%;
    height: auto;
    padding: 30px 25px 15px 25px;
    display: flex;
    align-items: flex-start;
    justify-content: end;
    flex-direction: column;
    opacity: 0;
    transform: opacity 0.78s ease-out;
}
.portfolio_data .portfolio_title{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
    color: var(--secondary_color);
}
.portfolio_data .portfolio_cat{
    font-size: 1.0rem;
    font-weight: 500;
    color: var(--tertiary_color);
    letter-spacing: 0.02rem;
}
.portfolio_data .preview_btn{
    font-size: 1.0rem;
    font-weight: 500;
    color: var(--tertiary_color);
    letter-spacing: 0.02rem;
    background: rgba(51, 47, 208, 0.4);
    border-radius: 4px;
    padding: 3px 10px;
}
.portfolio_card:hover .portfolio_img{
    transform: scale(1.1);
}
.portfolio_card:hover .portfolio_data{
    opacity: 1;
    transition: 0.78s ease-out;
}


/* Divider Section */
.divider_section{
    width: 100%;
    height: auto;
    padding: 10px 100px;
}
.divider_section .divider{
    width: 100%;
    height: 1.5px;
    background: var(--tertiary_color);
    opacity: 0.3;
}



/* Blog Section */
.blog_section{
    width: 100%;
    height: auto;
}
.blog_box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.2rem;
    row-gap: 1.7rem;
}
.blog_box .blog_card{
    width: 317px;
    height: auto;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 10px #252938,
                -4px -4px 10px #252938;
    border-radius: 6px;
    overflow: hidden;
    transition: all var(--transition);
}
.blog_box .blog_card:hover{
    transform: translateY(-20px);
}
.blog_card .blog_img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    object-position: center;
}
.blog_data .auther{
    font-size: 0.90rem;
    font-weight: 500;
    color: var(--tertiary_color);
}
.blog_data .date{
    font-size: 0.90rem;
    font-weight: 500;
    color: var(--tertiary_color);
}
.blog_data .blog_title{
    font-size: 1.35rem;
    font-weight: 550;
    color: var(--secondary_color);
    letter-spacing: 0.02rem;
    transition: var(--transition);
    opacity: 0.85;
}
.blog_data .blog_desc{
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--tertiary_color);
    opacity: 0.66;
}



/* Contact Section */
.contact_section{
    width: 100%;
    min-height: 40vh;
    background: rgba(0, 0, 0, 0.2);
}
.contact_box{
    border-radius: 4px;
    background: linear-gradient(145deg, #1b1e29, #171922);
    box-shadow:  2px 2px 9px #0a0b0f,
                -2px -2px 9px #181b24;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 2.5rem;
}
.contact_card{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.contact_icon{
    width: 70px;
    height: 70px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow:  1px 1px 2px #0a0b0f,
                -1px -1px 2px #0a0b0f;
    font-size: 2.2rem;
    color: var(--primary_color);
}
.contact_data{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.contact_data .title{
    font-size: 1.0rem;
    font-weight: 550;
    color: var(--tertiary_color);
}
.contact_data .data{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--secondary_color);
    letter-spacing: 0.05rem;
    opacity: 0.8;
}

.contact_box form{
    width: 100%;
    height: auto;
}
.contact_box .label_name{
    font-size: 1.1rem;
    font-weight: 550;
    color: var(--tertiary_color);
}
.contact_box .form-control{
    border-radius: 4px;
    height: 45px;
    background: none;
    border: 2px solid #3a3e4e;
    outline: none;
    color: var(--tertiary_color);
    padding: 0 15px;
}
.contact_box textarea{
    height: 100px !important;
    padding: 10px 15px !important;
}



/* Footer Section */

footer{
    width: 100%;
    height: auto;
    padding: 60px 100px;
    background: #0d0f14;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer .logo_section{
    font-size: 2.76rem;
    font-weight: 600;
    color: var(--primary_color);
    letter-spacing: 0.05rem;
}
footer .logo_section span{
    font-size: 2.0rem;
    font-weight: 550;
    color: var(--tertiary_color);
    letter-spacing: 0.05rem;
}
footer .footer_desc{
    font-size: 1.0rem;
    color: var(--tertiary_color);
    opacity: 0.7;
}
footer .copy{
    font-size: 0.9rem;
    color: var(--tertiary_color);
    opacity: 0.3;
}
footer .copy a{
    font-size: 0.9rem;
    color: var(--secondary_color);
    opacity: 1;
}


/* Responsive Codes here */
@media screen and ( max-width:1024px ) {
    .main_padding {
        padding: 60px;
    }
    .abt_img_box .experience {
        left: 11.5%;
        font-size: 1.3rem;
    }
    .abt_data .hobbies {
        flex-wrap: wrap;
    }
    .service_card {
        width: 431px;
    }
    .portfolio_card {
        width: 432px;
    }
    .blog_box .blog_card {
        width: 435px;
    }
    .blog_card .blog_img {
        height: 41vh;
    }
}

@media screen and ( max-width:1024px ) {
    .hero_section .intro {
        font-size: 3.6rem;
    }
    .hero_section .professional {
        font-size: 2.55rem;
    }
    .hero_section .professional #element {
        font-size: 2.55rem;
    }
    .abt_img_box {
        margin-bottom: 3.5rem;
    }
    .abt_img_box .experience {
        position: absolute;
        bottom: 15px;
        left: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skill_education_section {
        flex-wrap: wrap;
        gap: 2.5rem;
    }
    .profession_box {
        width: 100%;
    }
    .banner_section {
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner_section .banner_box {
        width: 222px;
    }
    .count_section .count {
        font-size: 3.2rem;
    }
    .banner_box .title {
        font-size: 1.2rem;
    }
}






/* END Of CSS */