/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    list-style: none;
}

:root{

    /* ========================= Finalized color ========================= */
    --bg_color: #191c26;
    --primary_color: #332FD0;
    --secondary_color: #ffffff;
    --tertiary_color: #939393;
    --text_xxl: 4.0rem;
    --text_xl: 2.5rem;
    --text_l: 1.3rem;
    --text_m: 1.0rem;
    --text_sm: 0.99rem;
    --fw_bold: bold;
    --fw_600: 600;
    --fw_550: 550;
    --fw_500: 500;
    --transition: 0.5s ease-out;


    /* Demo Colors while selecting color for the portfolio design */
    /* --bg_color: #0c181f; */
    /* --bg_color: #171818; */
    /* --primary_color: #f52225; */
    /* --primary_color: #2623da; */
    /* --primary_color: #d62929; */
    /* --tertiary_color: #9e9e9e; */
    /* ============================================== */

}

/* Custom Scrollbar */
::-webkit-scrollbar{
    width: 8px;
    background: none;
}
::-webkit-scrollbar-track{
    background: var(--bg_color);
}

::-webkit-scrollbar-thumb{
    background: rgba(51, 47, 208, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(51, 47, 208, 0.2);
    border-radius: 10px;
}


.btn, .btn.active:focus, .btn:active:focus{
    outline: none;
    box-shadow: none !important;
    border-radius: 0;
    font-size: 1.07rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
}
.form-control, .form-control.active:focus, .form-control:active:focus{
    outline: none;
    box-shadow: none !important;
    border-radius: 0;
}
.form-select, .form-select.active:focus, .form-select:active:focus{
    outline: none;
    box-shadow: none !important;
    border-radius: 0;
}

.nav_padding{
    padding: 10px 60px;
}
.main_padding{
    padding: 60px 100px;
}

.primary_color{
    color: var(--primary_color);
}
.secondary_color{
    color: var(--secondary_color) ;
}
.tertiary_color{
    color: var(--tertiary_color);
}

.primary_btn{
    background: var(--primary_color);
    border: 2px solid var(--primary_color);
    color: var(--secondary_color);
    min-width: 130px;
    height: 40px;
    transition: var(--transition);
}
.primary_btn:hover{
    background: transparent;
    border: 2px solid var(--primary_color);
    color: var(--primary_color);
}
.secondary_btn{
    background: transparent;
    border: 2px solid var(--primary_color);
    color: var(--primary_color);
    min-width: 120px;
    height: 40px;
    transition: var(--transition);
}
.secondary_btn:hover{
    background: var(--primary_color);
    border: 2px solid --primary_color;
    color: var(--secondary_color);
}
.tertiary_btn{
    background: transparent;
    border: 2px solid transparent;
    color: var(--primary_color);
    /* font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.03rem; */
    transition: var(--transition);
}
.tertiary_btn:hover{
    color: rgba(51, 47, 208, 0.8);
}


/*  */
.main_section{
    width: 100%;
    height: auto;
    background: var(--bg_color);
    overflow: hidden;
}

.hero_nav_section{
    width: 100%;
    height: 100vh;
    background: url("./img/bg6.png") no-repeat;
    background-position: center right;
    background-size: cover;
}
nav{
    width: 100%;
    height: 80px;
    background: transparent;
}
nav .logo_section{
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--primary_color);
    letter-spacing: 0.05rem;
}
nav .logo_section span{
    font-size: 1.65rem;
    font-weight: 550;
    color: var(--tertiary_color);
    letter-spacing: 0.05rem;
}
nav .nav-link{
    font-size: 1.12rem;
    font-weight: 500;
    color: var(--tertiary_color);
    margin-left: 1.3rem;
    letter-spacing: 0.01rem;
    transition: var(--transition);
}
nav .nav-link:hover{
    color: var(--primary_color);
}
nav .active{
    font-size: 1.15rem;
    font-weight: 550;
    color: var(--primary_color);
    letter-spacing: 0.02rem;
}
nav .nav-link:focus, nav .nav-link:active:focus,
nav .nav-link.active:hover{
    color: var(--primary_color);
}


.hero_section{
    position: relative;
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: start;
    /* background: rgba(102, 51, 153, 0.02); */
}
.hero_section .greeting{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    color: var(--tertiary_color);
}
.hero_section .intro{
    font-size: 4.1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color: var(--secondary_color);
}
.hero_section .professional{
    font-size: 2.5rem;
    color: var(--primary_color);
    letter-spacing: 0.03rem;
    font-weight: 550;
}
.hero_section .desc{
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    color: var(--tertiary_color);
}
.hero_section .my_social_account{
    position: absolute;
    right: 10px;
    bottom: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.2rem;
}




/* END Of CSS */